@model LinkDib.ViewModels.LinkFormViewModel

@{
    ViewBag.Title = "Create";
}

<h3>@Model.Action</h3>
@using (Html.BeginForm(Model.Action, "Link"))
{

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Url)
        @Html.TextBoxFor(m => m.Url, new { @class = "form-control", autofocus ="autofocus", placeholder = "eg. http://www.google.se " })
        @Html.ValidationMessageFor(m => m.Url)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Message)
        @Html.TextBoxFor(m => m.Message, new { @class = "form-control", placeholder = "eg. This is so funny!" })
        @Html.ValidationMessageFor(m => m.Message)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Category)
        @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categories, "Id", "Name"), new {@class = "form-control"})
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Permission)
        @Html.EnumDropDownListFor(model => model.Permission,  new { @class = "form-control"})
        @Html.ValidationMessageFor(m => m.Permission)
    </div>

    <button type="submit" class="btn btn-default">Save</button>
}

@section scripts 
{
    @Scripts.Render("~/bundles/jqueryval")
}

