@using Microsoft.AspNet.Identity
@model LinkDib.ViewModels.LinkListViewModel
@{
    ViewBag.Title = "List";
}

<h2>Links</h2>

<div class="panel panel-default details">
    <div class="panel-body">
        <div class="col-sm-4">
            Filter by category:
        </div>
        <div class="col-sm-4">
            Display: Public, Private, Followed
        </div>
        <div class="pull-right">
            Display: Previews
        </div>
    </div>
</div>

<ul id="links" class="links container">
    @foreach (var link in Model.Links)
    {
        <li>
            <div class="panel panel-default details">
                <div class="panel-body">
                    <div class="row date_user">
                        <div class="col-sm-4">
                            <span>
                                @link.Category.Name
                            </span>
                            
                            <span>
                                (@link.Permission)
                            </span>
                            
                            @if (Model.Authenticated && link.User.Id == User.Identity.GetUserId())
                            {
                                <div class="pull-right actions">
                                    <a href="@Url.Action("Edit", "Link", new { id = link.Id })">Edit</a> 
                                    |
                                    <a href="#" data-link-id="@link.Id" class="js-cancel-link">Delete</a>
                                </div>
                            }

                        </div>
                        
                        @* Temporary. Empty cols *@
                        <div class="col-sm-5"></div>

                        <div class="col-sm-3 displayname">

                            <span class="pull-right">

                                @if (Model.Authenticated)
                                {
                                    if (link.User.Id == User.Identity.GetUserId())
                                    {
                                        <span>@link.User.DisplayName (You)</span>
                                    }
                                    else
                                    {
                                        @link.User.DisplayName
                                        <button data-user-id="@link.User.Id" class="btn @(Model.Followees.Contains(link.UserId) ? "btn-info" : "btn-default") btn-sm js-toggle-follow">@(Model.Followees.Contains(link.UserId) ? "Following" : "Follow")</button>
                                    }
                                }
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4 thumbnail">
                            @link.Thumbnail
                        </div>
                        <div class="col-sm-8">
                            <span>@link.Message</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">

                            (54)

                            @if (Model.Authenticated)
                            {
                                <i class="material-icons js-toggle-like icon thumbs_up @(Model.Likes.Contains(link.Id) ? "liked" : "notliked")"  data-link-id="@link.Id">&#xE8DC;</i>
                                <i class="material-icons js-toggle-favorite icon favorite  @(Model.Favorites.Contains(link.Id) ? "favored" : "notfavored")" data-link-id="@link.Id">&#xE87D;</i>
                            }
                            <span class="pull-right">@link.DateTime</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    }
</ul>


@section scripts
{
        <script>
            $(document).ready(function () {
                LinksController.init("#links");
            });
        </script>
}
