@model LinkDib.ViewModels.LinkListViewModel
@{
    ViewBag.Title = "List";
}

<h2>Links</h2>

<ul class="links">
    @foreach (var link in Model.Links)
    {
        <li class="container">
            
            <div class="panel panel-default details">
                <div class="panel-body">
                    
                    <div class="row date_user">
                        <div class="col-sm-9">
                            @link.Category.Name
                        </div>
                        <div class="col-sm-3 displayname">
                            @link.User.DisplayName
                            
                            @if (Model.Authenticated)
                            {
                                <span>(Follow)</span>
                            }
                        </div>
                        
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-4 thumbnail">
                            @link.Thumbnail
                        </div>
                        <div class="col-sm-8">
                            <span>@link.Message</span>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-4">
                            
                            <span>(54)</span>

                            @if (Model.Authenticated)
                            {
                                <button data-link-id="@link.Id" class="btn btn-default btn-sm js-toggle-like">Like?</button>
                                <button data-link-id="@link.Id" class="btn btn-default btn-sm js-toggle-favorite">Favorite?</button>
                            }
                            <span class="pull-right">@link.DateTime</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    }
</ul>


@section scripts 
{
    <script>
        $(document).ready(function() {
            $(".js-toggle-favorite").click(function(e) {
                var button = $(e.target);
                $.post("/api/favorites", { linkId : button.attr("data-link-id") })
                    .done(function() {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Favorite");

                    }).fail(function() {
                        alert("Favorite failed..");
                    });
            });
            $(".js-toggle-like").click(function (e) {
                var button = $(e.target);
                $.post("/api/likes", { linkId: button.attr("data-link-id") })
                    .done(function () {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Liked");

                    }).fail(function () {
                        alert("Liking failed..");
                    });
            });
        });
    </script>     
}